{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
{% for label, messages in app.flashes(['success', 'notice']) %}
    {% for message in messages %}
        <div class="flash-{{ label }} notice_message">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
<section class="slider">
        <div class="container">
            <div class="slider_inner">
            {% for slider in sliders %}
                <div class="slider_item">
                    <div class="slider_item-content">
                        <div class="slider_title">
                            {{ slider.serviceName }}
                        </div>
                        <div class="slider_text">
                            {{ slider.discriptionService }}
                        </div>
                        <a data-fancybox data-src="#hidden-content" href="javascript:;" class="slider_btn default-btn">
                            Оставить заявку
                        </a>
                        
                    </div>    
                </div>
                {% endfor %}
            </div>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <a class="default-btn" href="{{ path('slider_index') }}">Edition</a>
            {% endif %}
        </div>
    </section>
    <section class="servises">
        <div class="container">
            <div class="servises_top">
                <div class="servises_title-box">
                    <div class="servises_title">
                        Наши услуги
                    </div>
                    <div class="servises_text">
                        Комплексный подход к вашему вопросу,своевременная помощь, представление интересов во всех органах и суде.
                    </div>
                </div>
                <div class="servises_btn">
                    <a href="{{ path('service_index') }}">
                    Посмотреть все услуги
                    </a>
                </div>    
            </div>
            <div class="servises_items">
                {% for service in services %}
                <div class="servises_item">
                    <img src="{{ asset('uploads/img/avatars/' ~ service.Avatar) }}" alt="" class="img_servises-1">
                    <div class="about_item-title">
                        {{ service.name }}
                    </div>
                    <div class="servises_item-text">
                        {{ service.discription }}
                    </div>
                    <div class="servises_item-btn">
                        <a href="{{ path('service_show', {'id': service.id}) }}" class="servises_item-link">
                            Подробнее
                        </a>
                        <a data-fancybox data-src="#hidden-content" href="javascript:;" class="default-btn">
                            Заказать
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="about">
        <div class="container">
            <div class="about_inner">
                <div class="about_title">
                О компании 
                </div>
                <div class="about_text">
                    Компания специализируется на оказании юридических услуг. Компания специализируется на оказании юридических услуг.
                    Компания специализируется на оказании юридических услуг. Компания специализируется на оказании юридических услуг.
                </div>
                <a  href="{{ path('about_comtroller') }}" class="about_btn default-btn">
                    Узнать больше
                </a>
            </div>
        </div>
    </section>
    {# <section class="form">
        <div class="container">
            <div class="form_inner">
                <div class="form_content">
                    <div class="form_title-box">
                        <div class="form_title">
                            Получить консультацию
                        </div>
                        <div class="form_text">
                            Комплексный подход к вашему вопросу,своевременная помощь, представление интересов во всех органах и суде.
                        </div>
                    </div>
                    <div class="form_box">
                            {{ form_start(form) }}
                            <div class="form_box-inner">
                                <div class="form_box-left">
                                    {{ form_widget(form) }}
                                </div>
                                <button class="default-btn btn">Получить консультацию</button>
                            </div>        
                            {{ form_end(form) }}
                    </div>   
                </div>
            </div>
        </div>    
    </section> #}
    <section class="form">
        <div class="container">
            <div class="form_inner">
                <div class="form_content">
                    <div class="form_title-box">
                        <div class="form_title">
                            Получить консультацию
                        </div>
                        <div class="form_text">
                            Комплексный подход к вашему вопросу,своевременная помощь, представление интересов во всех органах и суде.
                        </div>
                    </div>
                    <div class="form_box">
                        {{ form_start(form) }}
                            <div class="form_box-inner">
                                <div class="form_box-left">
                                    <label for="">
                                        {{ form_row(form.email) }}
                                    </label>
                                    <label for="">
                                        {{ form_row(form.phone) }}
                                    </label>
                                    <label for="">
                                        {{ form_row(form.name) }}
                                    </label>
                                    <label for="">
                                        {{ form_row(form.category) }}
                                    </label>
                                </div>
                                <div class="form_box-right">
                                    <label for="">
                                        {{ form_row(form.message) }}
                                    </label>
                                    <button class="default-btn" type="submit">Получить консультацию</button>
                                </div>
                            </div>    
                        {{ form_end(form) }}       
                    </div>   
                </div>
            </div>
        </div>
    </section>
    <section class="advantages">
        <div class="container">
            <div class="advantages__inner">
                <div class="advantages-item">
                    <div class="advantages__title">
                        Десятки успешных ликвидаций ежемесячно
                    </div>
                    <div class="advantages__text">
                        Банкротство юридических лиц. В соответствии с гражданским законодательством Российской Федерации юридическим лицом признается организация, которая имеет ...
                    </div>
                </div>
                <div class="advantages-item">
                    <div class="advantages__title">
                        Отличное знание законов в сфере банкротства
                    </div>
                    <div class="advantages__text">
                        Индивидуальный подход и профессионализм: info@inlatplusinter.lv. Inlat Plus International представляет интересы клиентов на территории Латвии и Европы. Широкий Спектр Услуг. Многолетний Опыт. Разумные Цены.
                    </div>    
                </div>
                <div class="advantages-item">
                    <div class="advantages__title">
                        Большой опыт сопровождения банкротсва
                    </div>
                    <div class="advantages__text">
                        Банкротство юридического лица – это невозможность организации выполнять свои финансовые обязательства, выплачивать задолженность кредиторам.
                    </div>    
                </div>
            </div>
        </div>
    </section>
    <section class="news">
        <div class="container">
            <div class="news_top">
                <div class="news_title-box">
                    <div class="news_title">
                        Новости компании
                    </div>
                    <div class="news_text">
                        Правовая (юридическая) помощь — это профессиональная деятельность юристов, направленная на содействие гражданам и юридическим лицам в решении вопросов, ...
                    </div>
                </div>
                <div class="news_btn">
                    <a href="{{ path('article_index') }}">
                    Открыть все новости
                    </a>
                </div>    
            </div>
            <div class="news_inner">
                <div class="news_slider">
                    <div class="news_slider-inner">
                    {% for blog in blogs %}
                        <div class="news_slider-item">
                        <a href="{{ path('blog_show', {'id': blog.id}) }}">
                            <div class="news_slider-title">
                                {{ blog.title }}
                            </div>
                            <div class="news_slider-text">
                                {{ blog.preview }}
                            </div>
                            <div class="news_slider-author">
                                {{ blog.author }}
                            </div>
                        </a>
                        </div>
                    {% endfor %}    
                    </div>
                </div>
                {% for article in articles %}
                <a href="{{ path('article_show', {'id': article.id}) }}" class="news_blog">
                    <div class="news_images">
                        <img src="{{ asset('uploads/img/avatars/' ~ article.AvatarArticle) }}" alt="" class="avatar_new_image">
                        <div class="news_date">{{ article.created_at|date('d-m') }}</div>
                    </div>
                    <div class="news_blog-title">
                        {{ article.title }}
                    </div>
                    <div class="news_blog-text">
                        {{ article.preview }}
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </section>    
{% endblock %}
{% block footer %}
    {{ include('footer.html.twig') }}
{% endblock %}