{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<section class="page_servises">
        <div class="container">
            <div class="servises_top">
                <div class="servises_title-box">
                    <div class="servises_title">
                        Наши услуги
                    </div>
                    <div class="servises_text">
                        Комплексный подход к вашему вопросу,своевременная помощь, представление интересов во всех органах и суде.
                    </div>
                </div>
            </div>
            <div class="servises_items elastic">
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('service_new') }}" class="default-btn-create_service">
                Добавить
            </a>
            {% endif %}
            {% for label, messages in app.flashes(['success', 'notice']) %}
                {% for message in messages %}
                    {% if message %}
                        <div class="flash-{{ label }} notice_message">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <div class="page_news-search">
                <input type="text" id="elastic" name="filter-contacts" class="" placeholder="Поиск услуг">
            </div>
                {% for service in services %}
                <div class="servises_item none" data-filter-tags="{{ service.name }}">
                    <img src="{{ asset('uploads/img/avatars/' ~ service.Avatar) }}" alt="" class="img_servises-1">
                    <div class="servises_item-title">
                        {{ service.name }}
                    </div>
                    <div class="servises_item-text">
                        {{ service.discription }}
                    </div>
                    <div class="servises_item-btn">
                        <a href="{{ path('service_show', {'id': service.id}) }}" class="servises_item-link">
                            Подробнее
                        </a>
                        <a data-fancybox data-src="#hidden-content" href="javascript:;" class="default-btn">
                            Заказать
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('service_edit', {'id': service.id}) }}" class="default-btn">
                            Редактировать
                        </a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>   
{% endblock %}
{% block footer %}
    {{ include('footer.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ include('js.html.twig') }}
    <script>
    document.querySelector('#elastic').oninput = function(){
        let val = this.value.trim();
        let elemNews = document.querySelectorAll('.elastic .none');
        let elasticItems = document.querySelectorAll('.elastic a .news_blog-title');
        if(val != ''){
            elemNews.forEach(function(elem){
                let value = elem.getAttribute('data-filter-tags');
                if(value.search(val) == -1){
                    elem.classList.add('hide');      
                }
                else{
                    elem.classList.remove('hide');
                }
            });
        }
        else{
            elemNews.forEach(function(elem){
                    elem.classList.remove('hide');      
                });
        }
    }
</script>        
{% endblock %}