{% extends 'base.html.twig' %}

{% block title %}PlumbInstall/Услуги/{{ service.name }}{% endblock %}

{% block body %}
<section class="page_servise">
        <div class="container">
            <div class="servises_top">
                <div class="servises_title-box">
                    <div class="servises_title">
                        Наши услуги
                    </div>
                    <div class="servises_text">
                        Комплексный подход к вашему вопросу,своевременная помощь, представление интересов во всех органах и суде.
                    </div>
                </div>
            </div> 
            {% for label, messages in app.flashes(['success', 'notice']) %}
                {% for message in messages %}
                    {% if message %}
                        <div class="flash-{{ label }} notice_message">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}   
                <div class="servises_item">
                    <img src="{{ asset('uploads/img/avatars/' ~ service.Avatar) }}" alt="" class="img_servises-1">
                    <div class="servises_item-title">
                        {{ service.name }}
                    </div>
                    <div class="servises_item-text">
                        {{ service.discription }}
                    </div>
                    <div  class="slider-service">
                        <div class="container">
                            <div class="slider_inner">
                                {% for foto in categoryFoto %}
                                <div class="slider_item">
                                    <div class="slider_item-content">
                                        <img src="{{ asset('uploads/img/galery/' ~ foto.Foto) }}" alt="" >
                                        <div class="slider_text">
                                            {{ foto.comment }}
                                        </div> 
                                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                                            {% if foto.Foto!= null %}
                                                <a href="{{ path('service_delete_galery', {'id': foto.id}) }}" onclick="return confirm('Are you sure you want to delete this item?');" class="default-btn-galery_service" >
                                                        Удалить фото и комментарий
                                                </a> 
                                                <a href="{{ path('service_edition_galery', {'id': foto.id}) }}" class="default-btn-galery_service" >
                                                        Редактировать фото и комментарий
                                                </a> 
                                            {% endif %} 
                                        {% endif %}                                      
                                    </div>    
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <div class="servises_item-title">
                        Галерея
                        {{ form_start(form,{'action': path('service_show',{'id': service.id} )}) }}
                            <div class="form_box-inner">
                                <div class="form_box-left" required>
                                    {{ form_widget(form) }}
                                    {# <a href="{{ path('service_edit_galery', {'id': service.id}) }}" class="default-btn-galery_service">
                                        Редактировать галерею
                                    </a> #}
                                    
                                    <button class="default-btn-galery_service">
                                        Добавить фото
                                    </button>    
                                </div>
                            </div>
                        {{ form_end(form) }}
                    </div> 
                    {% endif %}
                    <div class="service_discription">      
                    <div class="servises_item-text">
                       {{  service.description2  }}
                    </div>
                    <div class="servises_item-text">
                        {{ service.description3 }}
                    </div>
                    <div class="servises_item-text">
                        ссылка на документ: 
                        <a href="{{ asset('uploads/files/' ~ service.Document) }}">(PDF) {{ service.document }}</a>
                        {# <iframe src="https://docs.google.com/gview?url=https://path.com/to/your/pdf.pdf&embedded=true" style="width:300px; height:200px;" frameborder="0">{{ asset('uploads/files/' ~ service.Document) }}</iframe> #}
                        <div class="service_embed">
                            <embed src="{{ asset('uploads/files/' ~ service.Document) }}">
                        </div>
                        {# <object data="{{ asset('uploads/files/' ~ service.Document) }}" type="application/pdf" width="300" height="200">
                            <a href="{{ asset('uploads/files/' ~ service.Document) }}">test.pdf</a>
                        </object> #}
                    </div>
                    </div>
                    <div class="servises_item-btn">
                        <a href="{{ path('service_index') }}" class="default-btn service">
                            Назад
                        </a>
                        <a data-fancybox data-src="#hidden-content" href="javascript:;" class="default-btn service">
                            Заказать услугу
                        </a>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a href="{{ path('service_edit', {'id': service.id}) }}" class="default-btn service">
                            Редактировать
                        </a>
                        {{ include('service/_delete_form.html.twig') }}
                        {% endif %}
                    </div>
                </>          
        </div>
    </section>
{% endblock %}
{% block footer %}
    {{ include('footer.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ include('js.html.twig') }}
{% endblock %} 
