{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<section class="page news">
        <div class="container">
            <div class="news_top">
                <div class="news_title-box">
                    <div class="news_title">
                        Страница управления содержимым слайдера страницы "О нас" в разделе "Пресса о нас"
                    </div>
                    <div class="news_text">
                        Пожалуйста следуйте рекомендациям системы
                    </div>   
                </div>
                <div class="about_item-btn-jobs">
                        <a  href="{{ path('press_new') }}" class="default-btn-about admin">
                            Добавить
                        </a>
                    </div>
            </div>
            {% for label, messages in app.flashes(['success', 'notice']) %}
                {% for message in messages %}
                    {% if message %}
                        <div class="flash-{{ label }} notice_message">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <div class="page news_inner elastic" id="">
            {% for press in presses %}
                <a id="c_1" href="#" class="about_slider_press page news_blog none" data-filter-tags="black">
                    <div class="about_slider_press page news_images">
                        {% if press.Img != null %}
                                <img src="{{ asset('uploads/img/' ~ press.Img) }}" alt="">
                                {% else %}
                                <img src="{{ asset('asset/img/fon-foto-default-2.jpeg') }}" alt="">
                        {% endif %}
                        <div class="news_date">{{ press.created_at|date('m-d') }}</div>
                    </div>
                    <div class="news_blog-title">
                        {{ press.title }}
                    </div>
                    <div class="news_blog-text">
                        {{ press.text }}
                    </div>
                </a>
                <div class="about_item-btn-jobs">
                    <a href="{{ path('about_comtroller') }}" class="default-btn-about">
                        Назад
                    </a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a  href="{{ path('press_edit', {'id': press.id}) }}" class="default-btn-about admin">
                        Редактировать
                    </a>
                    <a  href="#">
                         {{ include('press/_delete_form.html.twig') }} 
                    </a> 
                    {% endif %}   
                </div>
            {% endfor %}    
            </div>
        </div>
    </section>
{% endblock %}
{% block footer %}
    {{ include('footer.html.twig') }}
{% endblock %}
