{% extends 'base.html.twig' %}

{% block title %}PlumbInstall/login{% endblock %}

{% block body %}
    <section class="form">
        <div class="container">
            {% for label, messages in app.flashes(['success', 'notice']) %}
                {% for message in messages %}
                    {% if message %}
                        <div class="flash-{{ label }} notice_message">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <div class="form_inner">
                <div class="form_content">
                    <div class="form_title-box">
                        <div class="form_title">
                            Страница авторизации
                        </div>
                        <div class="form_text">
                            Пожалуйста авторизуйтесь
                        </div>
                    </div>
                    <div class="form_box">
                        <form action="{{ path('login') }}" method="post">    
                            <div class="form_box-inner authentificate">       
                                <div class="form_box-left authentificate">
                                {% if error %}
                                <div class="form_login_error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}
                                    <label for="username">Ваша эл.почта:</label>
                                    <input type="text" id="username" name="_username" value="{{ last_username }}"/>

                                    <label for="password">Введите пароль:</label>
                                    <input type="password" id="password" name="_password"/>
                                </div>
                                {# If you want to control the URL the user is redirected to on success
                                <input type="hidden" name="_target_path" value="/account"/> #}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <div class="form_text">
                                    В случае ошибок при  авторизации, пожалуйста  следуйте подсказкам системы
                                </div>
                                
                            </div>
                            <button class="default-btn authentificate" type="submit"> Войти</button>        
                        </form>    
                    </div>   
                </div>
            </div>
        </div>       
    </section>
{% endblock %}
{% block footer %}
    {{ include('footer.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ include('js.html.twig') }}
{% endblock %}
