{{ form_start(form) }}
<div class="form_box-inner">
    <div class="form_box-left" required>
        {{ form_row(form.name) }}
        {{ form_row(form.text) }}
        {{ form_row(form.foto) }}
        {{ form_row(form.foto2) }}
        {{ form_row(form.foto3) }}
        {# {{ form_row(form.created_at) }} #}
        <button class="default-btn">
            Отправить
        </button>    
    </div>
</div>
{{ form_end(form) }}
