
{% if form_errors(form) %}
<div class="my-custom-class-for-errors">
    {{ form_errors(form) }}
</div>
{% endif %}   
{{ form_start(form) }}
    <div class="form_box-inner blog">
        <div class="form_box-left">
            <label for="">
                {{ form_row(form.title) }}
            </label>
            <label for="">
                {{ form_row(form.preview) }}
            </label>
            <label for="">
                {{ form_row(form.foto) }}
            </label>
            <label for="">
                {{ form_row(form.description) }}
            </label>
            <label for="">
                {{ form_row(form.text) }}
            </label>                        
        </div>
        <div class="form_box-right">
            <label for="">
                {{ form_row(form.text2) }}
            </label>
            <label for="">
                {{ form_row(form.author) }}
            </label>
            <label for="">
                {{ form_row(form.linltitle) }}
            </label>
            <label for="">
                {{ form_row(form.link) }}
            </label>
            <label for="">
                {{ form_row(form.titleslider) }}
            </label>
            <label for="">
                {{ form_row(form.foto2) }}
            </label>
            <label for="">
                {{ form_row(form.descriptionslider) }}
            </label>
            <label for="">
                {{ form_row(form.linkslider) }}
            </label>
            <div class="servises_item-btn">
                <div class="servises_btn">
                    <a href="{{ path('blog_index') }}" class="default-btn">
                    Назад
                    </a>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <button class="default-btn admin blog" type="submit">Сохранить</button> 
                    {% endif %}
                </div> 
            </div>
        </div>
    </div>      
{{ form_end(form) }}
