{% extends 'base.html.twig' %}

{% block title %}Edit Blog{% endblock %}

{% block body %}
<section class="form add_blog">
        <div class="container">
            {% for label, messages in app.flashes(['success', 'notice']) %}
                {% for message in messages %}
                    {% if message %}
                        <div class="flash-{{ label }} notice_message">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
                <div class="form_content">
                    <div class="form_title-box">
                        <div class="form_title">
                            Страница создания нового поста
                        </div>
                        <div class="form_text">
                            При создании поста пожалуйста следуйте рекомендациям системы
                        </div>
                    </div>
                    <div class="form_box">
                        {% if is_granted('ROLE_ADMIN') %}
                        {{ include('blog/_form.html.twig', {'button_label': 'Update'}) }}
                        {% endif %}  
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        {{ include('blog/_delete_form.html.twig') }}
                        {% endif %}   
                    </div>   
                </div>    
        </div>
</section>
{% endblock %}
{% block javascripts %}
    {{ include('js.html.twig') }}
{% endblock %}
