{% extends 'base.html.twig' %}

{% block title %}Blog index{% endblock %}

{% block body %}
<section class="page_blogs">
        <div class="container">
            <div class="servises_top">
                <div class="servises_title-box">
                    <div class="servises_title">
                        Страница блогов
                    </div>
                    <div class="servises_text">
                        На этой странице размещениы интересные статьи авторизованных пользователей
                    </div>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                <div class="servises_btn">
                    <a href="{{ path('blog_new') }}">
                    Добавить
                    </a>
                </div>
                {% endif %}    
            </div>
            {% for label, messages in app.flashes(['success', 'notice']) %}
                {% for message in messages %}
                    {% if message %}
                        <div class="flash-{{ label }} notice_message">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <div class="page_blog_search">
                <input type="text" id="elastic" name="filter-contacts" class="" placeholder="Поиск постов">
            </div>
            <div class="servises_items elastic">
                {% for blog in blogs %}
                <div class="servises_item none" data-filter-tags="{{ blog.title }}">
                    <div class="blog_top">
                    {% if blog.Foto == null %}
                    <img src="{{ asset('asset/img/blog-icone-anymals-1.webp') }}" alt="" class="img_blogs-1">
                    {% else %}
                    <img src="{{ asset('uploads/img/galery/' ~ blog.Foto) }}" alt="" class="img_blogs-1">
                    {% endif %}
                    <div class="servises_item-title">
                        {{ blog.title }}
                    </div>
                    </div>
                    <div class="servises_item-text">
                        {{ blog.preview }}{{ blog.createdAt ? blog.createdAt|date('Y-m-d H:i:s') : '' }}
                    </div>
                    <div class="servises_item-text">
                        {{ blog.author }}
                    </div>
                    <div class="servises_item-text">
                        <a href="{{ blog.link }}">{{ blog.linltitle }}</a>
                    </div>
                    <div class="servises_item-btn">
                        <div class="servises_btn">
                            <a href="{{ path('blog_show', {'id': blog.id}) }}" class="default-btn blog">
                            Открыть
                            </a>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <a  href="{{ path('blog_edit', {'id': blog.id}) }}" class="default-btn admin">
                                Редактировать
                            </a>
                            {% endif %}
                        </div> 
                    </div>
                </div>
                {% endfor %}    
            </div>
        </div>
    </section>
{% endblock %}
{% block footer %}
    {{ include('footer.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ include('js.html.twig') }}
    <script>
    document.querySelector('#elastic').oninput = function(){
        let val = this.value.trim();
        let elemNews = document.querySelectorAll('.elastic .none');
        let elasticItems = document.querySelectorAll('.elastic a .news_blog-title');
        if(val != ''){
            elemNews.forEach(function(elem){
                let value = elem.getAttribute('data-filter-tags');
                if(value.search(val) == -1){
                    elem.classList.add('hide');      
                }
                else{
                    elem.classList.remove('hide');
                }
            });
        }
        else{
            elemNews.forEach(function(elem){
                    elem.classList.remove('hide');      
                });
        }
    }
</script>   
{% endblock %}
