{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
<section class="page_blog">
        <div class="container">
            {% for label, messages in app.flashes(['success', 'notice']) %}
                {% for message in messages %}
                    {% if message %}
                        <div class="flash-{{ label }} notice_message">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <div class="servises_top">
                <div class="servises_title-box">
                    <div class="servises_title">
                        {{ blog.title }}
                    </div>
                    <div class="servises_text">
                        {{ blog.preview }}
                    </div>
                </div>   
            </div>
            <div class="servises_items">
                <div class="servises_item">
                    <div class="blog_top">
                    {% if blog.Foto == null %}
                    <img src="{{ asset('asset/img/blog-icone-anymals-1.webp') }}" alt="" class="img_servises-1">
                    {% else %}
                    <img src="{{ asset('uploads/img/galery/' ~ blog.Foto) }}" alt="" class="img_servises-1">
                    {% endif %}
                        <div class="blog_top_item-title">
                            <div class="servises_item-title">
                                {{ blog.description }} 
                            </div>
                            <div class="servises_item-text">
                                {{ blog.text }}
                            </div>
                        </div>
                    </div>
                    <div class="blog_slider">
                        <div class="blog_slider-inner">
                            {% for fotoblog in blog.fotoblog %}
                            <div class="blog_slider-item">
                                    
                                    <a href="" class="blog_img">
                                        {% if fotoblog.Foto == null %}
                                        <img src="{{ asset('asset/img/blog-cat-3.jpeg') }}" alt="" class="img_servises-1 blog-slider">
                                        {% else %}
                                        <img src="{{ asset('uploads/img/galery/' ~ fotoblog.Foto) }}" alt="" class="img_servises-1 blog-slider">
                                        {% endif %}
                                    </a>
                                    <div class="blog_slider-title">
                                        {{ fotoblog.title }}
                                    </div>
                                    <div class="blog_slider-text">
                                        {{ fotoblog.description }}
                                    </div>
                                    <div class="blog_slider-author">
                                        {{ fotoblog.link }}
                                    </div> 
                                    <div class="blog_slider-author">
                                        {{ fotoblog.createdAt ? fotoblog.createdAt|date('Y-m-d H:i:s') : '' }} 
                                    </div> 
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <div class="blog_slider-btn">    
                                        <a href="{{ path('fotoblog_edit', {'id': fotoblog.id}) }}" class="default-btn admin">
                                            Редактировать
                                        </a>
                                        {{ include('fotoblog/_delete_form.html.twig') }}
                                    </div> 
                                    {% endif %}           
                            </div>
                            {% endfor %}
                            <div class="blog_slider-item add">
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <div class="blog_slider-title add">
                                    <a href="{{ path('fotoblog_new', {'id': blog.id}) }}" class="default-btn admin add">   
                                    Добваить сладер
                                    </a>
                                </div>
                                {% endif %}      
                            </div>    
                        </div>
                    </div>
                    <div class="blog_item-text">
                        <div class="servises_item-text">
                            {{ blog.text2 }}
                        </div>
                        <div class="servises_item-text">
                            {{ blog.author }}
                        </div>
                        <div class="servises_item-text">
                            <a href="{{ blog.link }}">{{ blog.linltitle }}</a>
                        </div>
                    </div>
                    {% if rating_value == 0 %}
                            <span class=""><span class="active_value"></span></span>
                        {% else %}
                        <div class="rating-result hidden-rating blog ">
                        Рейтинг: 
                            {% for i in range(1, rating_value-0) %}
                                <span class="active"><span class="active_value">{{ i }}</span></span>    
                            {% endfor %}
                            Общая оценка: 
                            <span class=""><span class="active_value"></span>{{ rating_value }}</span>   
                        </div>
                        <div class="hidden-mini-rating">
                            <div class="rating-mini">
                            Рейтинг:
                                {% for i in range(1, rating_value-0) %}
                                    <span class="active"><span class="active_value">{{ i }}</span></span>
                                {% endfor %}
                            </div>
                            <div class="rating-mini">
                                <span class=""><span class="active_value"></span>{{ rating_value }}</span>
                            </div>
                        </div>   
                    {% endif %}
                    <div class="about_item-text">
                            Оценить: 
                        </div>
                        <form action="{{ path('ratingblog_new', {'id': blog.id}) }}" method="POST">  
                            <div class="rating-area hidden-rating blog">
                                <input type="radio" id="star-10" name="rating" value="10">
                                <label for="star-10" title="Оценка «10»"></label>	
                                <input type="radio" id="star-9" name="rating" value="9">
                                <label for="star-9" title="Оценка «9»"></label>    
                                <input type="radio" id="star-8" name="rating" value="8">
                                <label for="star-8" title="Оценка «8»"></label>  
                                <input type="radio" id="star-7" name="rating" value="7">
                                <label for="star-7" title="Оценка «7»"></label>    
                                <input type="radio" id="star-6" name="rating" value="6">
                                <label for="star-6" title="Оценка «6»"></label>
                                <input type="radio" id="star-5" name="rating" value="5">
                                <label for="star-5" title="Оценка «5»"></label>	
                                <input type="radio" id="star-4" name="rating" value="4">
                                <label for="star-4" title="Оценка «4»"></label>    
                                <input type="radio" id="star-3" name="rating" value="3">
                                <label for="star-3" title="Оценка «3»"></label>  
                                <input type="radio" id="star-2" name="rating" value="2">
                                <label for="star-2" title="Оценка «2»"></label>    
                                <input type="radio" id="star-1" name="rating" value="1">
                                <label for="star-1" title="Оценка «1»"></label>
                            </div> 
                            <div class="rating-area-mini hidden-mini-rating blog">
                                <input type="radio" id="star-10" name="rating" value="10">
                                <label for="star-10" title="Оценка «10»"></label>	
                                <input type="radio" id="star-9" name="rating" value="9">
                                <label for="star-9" title="Оценка «9»"></label>    
                                <input type="radio" id="star-8" name="rating" value="8">
                                <label for="star-8" title="Оценка «8»"></label>  
                                <input type="radio" id="star-7" name="rating" value="7">
                                <label for="star-7" title="Оценка «7»"></label>    
                                <input type="radio" id="star-6" name="rating" value="6">
                                <label for="star-6" title="Оценка «6»"></label>
                                <input type="radio" id="star-5" name="rating" value="5">
                                <label for="star-5" title="Оценка «5»"></label>	
                                <input type="radio" id="star-4" name="rating" value="4">
                                <label for="star-4" title="Оценка «4»"></label>    
                                <input type="radio" id="star-3" name="rating" value="3">
                                <label for="star-3" title="Оценка «3»"></label>  
                                <input type="radio" id="star-2" name="rating" value="2">
                                <label for="star-2" title="Оценка «2»"></label>    
                                <input type="radio" id="star-1" name="rating" value="1">
                                <label for="star-1" title="Оценка «1»"></label>
                            </div> 
                        </form>  
                    <div class="servises_item-btn">
                        <div class="servises_btn">
                            <a href="{{ path('blog_index') }}" class="default-btn blog">
                                Назад
                            </a>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <a href="{{ path('fotoblog_new', {'id': blog.id}) }}" class="default-btn blog">
                                Добавить слайдер
                            </a>
                            <a  href="{{ path('blog_edit', {'id': blog.id}) }}" class="default-btn admin">
                                Редактировать
                            </a>
                            <div class="delete_button_form_blog">
                                {{ include('blog/_delete_form.html.twig') }}
                            </div>   
                            {% endif %}
                        </div> 
                    </div>
                </div>    
            </div>
        </div>
    </section>
{% endblock %}
{% block footer %}
    {{ include('footer.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ include('js.html.twig') }}
    <script>    
    $('input[type=radio]').on('change', function() {
    $(this).closest("form").submit();
    return false;
    });
  </script>
{% endblock %}
