{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
<section class="page_blog">
        <div class="container">
            {% for label, messages in app.flashes(['success', 'notice']) %}
                {% for message in messages %}
                    {% if message %}
                        <div class="flash-{{ label }} notice_message">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <div class="servises_top">
                <div class="servises_title-box">
                    <div class="servises_title">
                        {{ blog.title }}
                    </div>
                    <div class="servises_text">
                        {{ blog.preview }}
                    </div>
                </div>   
            </div>
            <div class="servises_items">
                <div class="servises_item">
                    <div class="blog_top">
                    {% if blog.Foto == null %}
                    <img src="{{ asset('asset/img/blog-icone-anymals-1.webp') }}" alt="" class="img_servises-1">
                    {% else %}
                    <img src="{{ asset('uploads/img/galery/' ~ blog.Foto) }}" alt="" class="img_servises-1">
                    {% endif %}
                        <div class="blog_top_item-title">
                            <div class="servises_item-title">
                                {{ blog.description }} 
                            </div>
                            <div class="servises_item-text">
                                {{ blog.text }}
                            </div>
                        </div>
                    </div>
                    <div class="blog_slider">
                        <div class="blog_slider-inner">
                            {% for fotoblog in blog.fotoblog %}
                            <div class="blog_slider-item">
                                    
                                    <a href="" class="blog_img">
                                        {% if fotoblog.Foto == null %}
                                        <img src="{{ asset('asset/img/blog-cat-3.jpeg') }}" alt="" class="img_servises-1 blog-slider">
                                        {% else %}
                                        <img src="{{ asset('uploads/img/galery/' ~ fotoblog.Foto) }}" alt="" class="img_servises-1 blog-slider">
                                        {% endif %}
                                    </a>
                                    <div class="blog_slider-title">
                                        {{ fotoblog.title }}
                                    </div>
                                    <div class="blog_slider-text">
                                        {{ fotoblog.description }}
                                    </div>
                                    <div class="blog_slider-author">
                                        {{ fotoblog.link }}
                                    </div> 
                                    <div class="blog_slider-author">
                                        {{ fotoblog.createdAt ? fotoblog.createdAt|date('Y-m-d H:i:s') : '' }} 
                                    </div> 
                                    <div class="blog_slider-btn">    
                                        <a href="{{ path('fotoblog_edit', {'id': fotoblog.id}) }}" class="default-btn blog">
                                            Редактировать
                                        </a>
                                        {{ include('fotoblog/_delete_form.html.twig') }}
                                    </div>            
                            </div>
                            {% endfor %}
                            <div class="blog_slider-item add">
                                <div class="blog_slider-title add">
                                    <a href="{{ path('fotoblog_new', {'id': blog.id}) }}" class="default-btn admin add">   
                                    Добваить сладер
                                    </a>
                                </div>      
                            </div>    
                        </div>
                    </div>
                    <div class="servises_item-text">
                        {{ blog.text2 }}
                    </div>
                    <div class="servises_item-text">
                        {{ blog.author }}
                    </div>
                    <div class="servises_item-text">
                        <a href="{{ blog.link }}">{{ blog.linltitle }}</a>
                    </div>
                    <div class="about_item-text">
                            Оценить: 
                        </div>
                        <form action="{{ path('ratingblog_new', {'id': blog.id}) }}" method="POST">  
                            <div class="rating-area blog">
                                <input type="radio" id="star-10" name="rating" value="10">
                                <label for="star-5" title="Оценка «10»"></label>	
                                <input type="radio" id="star-9" name="rating" value="9">
                                <label for="star-4" title="Оценка «9»"></label>    
                                <input type="radio" id="star-8" name="rating" value="8">
                                <label for="star-3" title="Оценка «8»"></label>  
                                <input type="radio" id="star-7" name="rating" value="7">
                                <label for="star-2" title="Оценка «7»"></label>    
                                <input type="radio" id="star-6" name="rating" value="6">
                                <label for="star-1" title="Оценка «6»"></label>
                                <input type="radio" id="star-5" name="rating" value="5">
                                <label for="star-5" title="Оценка «5»"></label>	
                                <input type="radio" id="star-4" name="rating" value="4">
                                <label for="star-4" title="Оценка «4»"></label>    
                                <input type="radio" id="star-3" name="rating" value="3">
                                <label for="star-3" title="Оценка «3»"></label>  
                                <input type="radio" id="star-2" name="rating" value="2">
                                <label for="star-2" title="Оценка «2»"></label>    
                                <input type="radio" id="star-1" name="rating" value="1">
                                <label for="star-1" title="Оценка «1»"></label>
                            </div> 
                        </form>  
                    <div class="servises_item-btn">
                        <div class="servises_btn">
                            <a href="{{ path('blog_index') }}" class="default-btn">
                                Назад
                            </a>
                            <a href="{{ path('fotoblog_new', {'id': blog.id}) }}" class="default-btn">
                                Добавить слайдер
                            </a>
                            <a  href="{{ path('blog_edit', {'id': blog.id}) }}" class="default-btn admin">
                                Редактировать
                            </a>
                                {{ include('blog/_delete_form.html.twig') }}
                        </div> 
                    </div>
                </div>    
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer_content">
            <div class="container">
                <div class="footer_inner">
                    <div class="footer_info">
                        <div class="footer_title">
                            Юрист по гражданству в турции - Русскоговорящий турецкий...
                        </div>
                        <div class="footer_text">
                            Нужна надежная юридическая поддержка для ваших сделок с недвижимостью и гражданством. Наше бюро, состоящее из опытной команды, предоставляет решение...
                        </div>
                        <a data-fancybox data-src="#hidden-content" href="javascript:;" class="header_btn">
                            Бесплатная консультация
                        </a>
                        <ul class="footer_list">
                            <li><a class="footer_phone" href="tel:79957771830">+7 (995) 777 18 30</a></li>
                            <li><a  href="#">mvlju977@gmail.com</a></li>
                            <li><a class="footer_adress" href="#">224. Sk. 3 A Hurma, 224. Sk. 3 A, 07130 Bahtılı Köyü Köyü/Konyaaltı/Antalya</a></li>
                        </ul>
                    </div>
                    <div class="footer_map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12769.001896835982!2d30.602218242904456!3d36.86042302995611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c393c2dbf54b39%3A0x85d588ae3693fa3b!2zSHVybWEsIDIyNC4gU2suIDMgQSwgMDcxMzAgQmFodMSxbMSxIEvDtnnDvCBLw7Z5w7wvS29ueWFhbHTEsS9BbnRhbHlh!5e0!3m2!1sru!2str!4v1638958614135!5m2!1sru!2str"  height="320px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_copy">
            <div class="container">
                <div class="copy_text">
                    2017 Template by Anastasia Shaposhnyk. Все права защищены.
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
{% block javascripts %}
    {{ include('js.html.twig') }}
    <script>    
    $('input[type=radio]').on('change', function() {
    $(this).closest("form").submit();
    return false;
    });
  </script>
{% endblock %}
