<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        {# <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> #}
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {# {{ encore_entry_link_tags('app') }} #}
        {% endblock %}
        <link rel="preconnect" href="{{ asset('https://fonts.googleapis.com') }}">
        <link rel="preconnect" href="{{ asset('https://fonts.gstatic.com') }}" crossorigin>
        <link href="{{ asset('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100;400;500&display=swap') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('asset/css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('asset/css/fonts.css') }}">
        <link rel = "stylesheet"  href="{{ asset('asset/css/jquery.fancybox.css') }}">
        <link rel="stylesheet" href="{{ asset('asset/css/slick.css') }}">
        <link rel="stylesheet" href="{{ asset('asset/css/jquery.formstyler.css') }}">
        <!--<link rel="stylesheet" href="{{ asset('asset/css/jquery.formstyler.theme.css') }}">-->
        <link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('asset/css/media.css') }}">
        
    </head>
    <body>
        <header class="hedaer">
            <div class="header_top">
                <div class="container">
                    <div class="header_contacts">
                        <a class="header_phone" href="tel:79957771830">+7(995) 777 18 30</a>
                        <a class="header_email" href="#">mvlju977@gmail.com</a>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {% if app.user.name != null %}
                                <span>username:{{ app.user.name }}</span>
                            {% else %}
                                <span>login:{{ app.user.email }}</span>
                            {% endif %}
                        <a class="header_email" href="{{ path('app_logout') }}">Выйти</a>
                        {% else %}
                        <a class="header_email" href="{{ path('login') }}">Войти</a>
                        {% endif %}
                        <a data-fancybox data-src="#hidden-content" href="javascript:;" class="header_btn">Бесплатная консультация</a>    
                    </div>
                    
                </div>
            </div>
            <div class="header_content">
                <div class="container">
                    <div class="header_content-inner">
                        <div class="header_logo">
                            <a href="#">
                                <img src="{{ asset('asset/img/anymals-1.jpeg') }}" alt="" class="logo">
                            </a>
                        </div>
                        <nuv class="menu">
                            <div class="header_btn-menu">
                                <span class="icon-bars"></span>
                            </div>
                            <ul>
                                <li><a href="{{ path('home') }}">Главная </a></li>
                                <li><a href="{{ path('about_comtroller') }}">О компании</a></li>
                                <li><a href="{{ path('service_index') }}">Услуги</a></li>
                                <li><a href="{{ path('blog_index') }}">Посты</a></li>
                                <li><a href="{{ path('contact') }}">Контакты</a></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('page_admin') }}">Админ</a></li>
                                {% endif %}
                            </ul>
                        </nuv>
                    </div>
                </div>
            </div>
        </header>
        {% block body %}
        
        {% endblock %}
        {% block footer %}
        
        {% endblock %}
        {% block fast_consultation %}
            {% if form_errors(fast_consultation_form) %}
                <div class="my-custom-class-for-errors">
                    {{ form_errors(fast_consultation_form) }}
                </div>
            {% endif %}
            {{ include('fast_consultation.html.twig') }}
        {% endblock %}
        {% block javascripts %}
            {{ include('js.html.twig') }}
        {% endblock %}
    </body>
</html>
