
{% if form_errors(form) %}
<div class="my-custom-class-for-errors">
    {{ form_errors(form) }}
</div>
{% endif %}
<div class="add_new-form form_box">
    {{ form_start(form) }}
        <div class="add_new-form form_box-inner">
            <div class="add_new-form form_box-left">
                <label for="">
                    Название заголовка слайдера
                    {{ form_row(form.service_name) }}
                </label>    
            </div>
            <div class="add_new-form form_box-right">
                <label for="">
                    Содержание слайдера
                    {{ form_row(form.discription_service) }}
                </label>
                <div class="btn_edit-slider-home">
                    <a href="{{ path('slider_index') }}" class="default-btn-about">
                        Назад
                    </a>
                    <button class="default-btn slider_home" type="submit">Сохранить</button> 
                </div>    
            </div>
        </div>    
    {{ form_end(form) }}       
</div>
{% block javascripts %}
    {{ include('js.html.twig') }}
{% endblock %}
