{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<section class="page news">
        <div class="container">
            <div class="news_top">
                <div class="news_title-box">
                    <div class="news_title">
                        Страница слайдера
                    </div>
                    <div class="news_text">
                        Пожалуйста следуйте рекомендациям системы
                    </div>   
                </div>
                <div class="about_item-btn-jobs">
                        <a  href="{{ path('slider_new') }}" class="default-btn-about admin">
                            Добавить
                        </a>
                    </div>
            </div>            
            <div class="page news_inner elastic" id="">    
                <a id="c_1" href="{{ path('slider_show', {'id': slider.id}) }}" class="page news_blog none" data-filter-tags="{{ slider.serviceName }}">
                    <div class="page news_images">
                    </div>
                    <div class="news_blog-title">
                        {{ slider.serviceName }}
                    </div>
                    <div class="news_blog-text">
                        {{ slider.discriptionService }}
                    </div>
                </a>
                <div class="about_item-btn-jobs">
                    <a href="{{ path('slider_index') }}" class="default-btn-about">
                        Назад
                    </a>
                    <a  href="{{ path('slider_edit', {'id': slider.id}) }}" class="default-btn-about admin">
                        Редактировать
                    </a>
                    <a>
                        {{ include('slider/_delete_form.html.twig') }}   
                    </a>     
                </div>
            </div>
        </div>
    </section>    
{% endblock %}
{% block footer %}
    {{ include('footer.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ include('js.html.twig') }}
{% endblock %}
