{% if form_errors(form) %}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
{% endif %}
{{ form_start(form) }}
    <div class="add_new-form form_box-inner">
        <div class="add_new-form form_box-left">
            <label for="">
                {{ form_row(form.title) }}
            </label>
            <label for="file-upload" class="add_new custom-file-upload">
                текущая картинка 
                {% if achievement.Img != null %}
                    <img src="{{ asset('uploads/img/' ~ achievement.Img) }}" alt="">
                    {% else %}
                    <img src="{{ asset('asset/img/fon-foto-default-3.jpeg') }}" alt="">
                    {% endif %}
                {{ form_row(form.img) }}
            </label>
            <label for="">
                 {{ form_row(form.paragraph) }}
            </label>
            <label for="">
                 {{ form_row(form.link) }}
            </label>
        </div>
        <div class="add_new-form form_box-right">
            <label for="">
                 {{ form_row(form.text) }}
            </label>
            <a href="{{ path('about_comtroller') }}" class="default-btn">Назад</a>
            {% if is_granted('ROLE_ADMIN') %}
            <button class="default-btn" type="submit">Сохранить</button>
            {% endif %}
        </div>
    </div>    
{{ form_end(form) }}     