{% if form_errors(form) %}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
{% endif %}

{{ form_start(form) }}
    <div class="add_new-form form_box-inner">
        <div class="add_new-form form_box-left">
            <label for="">
                Название статьи, не более 70 знаков
                    {{ form_row(form.title) }}
            </label>
            <label for="file-upload" class="add_new custom-file-upload">
                Загрузка фотографии/картинки для названия статьи и превью статьи в ленте новостей (аватар статьи). 
                Расположена в блоке названия статьи, обтекается текстом названия статьи.
                {{ form_row(form.avatar_article) }}
            </label>
            <label for="file-upload" class="add_new custom-file-upload">
                Загрузка главной (основной) фотографии/картинки для  статьи. Фотография/картинка расположена после первого абаца статьи 
                если он заполнен, или (если абзаца № 1 нет) будет расположена в самом начале статьи на всю ширину поля статьи.
                {{ form_row(form.foto1) }}
            </label>
            <label for="">
                Комментарий к главной фотографии/картинке новостной статьи, не более 70 символов. 
                {{ form_row(form.comment_auxiliary_one) }}
            </label>
            <label for="file-upload" class="add_new custom-file-upload">
                Загрузка дополнительной фотографии/картинки к статье, меньшего размера которая будет находится внутри текста статьи.
                Фотография/картинка расположена нутри главного абцаца статьи, в правой верхней части абзаца, шириной 30% блока главного абзаца
                и обтекается текстом слева.
                {{ form_row(form.foto2) }}
            </label>
            <label for="">
                Комментарий к дополнительной фотографии/картинке к новостной статье, не более 70 символов
                {{ form_row(form.comment_foto) }}
            </label>
        </div>
        <div class="add_new-form form_box-right">
            <label for="">
                Краткое превью статьи для ленты новостей, не более 500 знаков 
                {{ form_row(form.preview) }}
            </label>
            <label for="">
                Абзац № 1, не более 2500 знаков
                {{ form_row(form.paragraph1) }}
            </label>
            <label for="">
                Абзац № 2, не более 2500 знаков 
                {{ form_row(form.paragraph2) }}
            </label>
            <label for="">
                Текст статьи главный абзац
                {{ form_row(form.article) }}    
            </label>
            <label for="">
                Абзац № 3, не более 2500 знаков 
                {{ form_row(form.paragraph3) }}
            </label>
            <label for="">
                Абзац статьи № 4 
                {{ form_row(form.paragraph4) }}    
            </label>
            <label for="">
                Имя автора, ссылки, источники
                {{ form_row(form.author) }}
            </label>
            <div class="form_article-button">
                <a href="{{ path('article_index') }}" class="default-btn">Назад</a> 
                <button class="default-btn" type="submit">Сохранить статью</button>
            </div>
            
        </div>
    </div>    
{{ form_end(form) }} 