{% extends 'base.html.twig' %}

{% block title %}Новости компании{% endblock %}

{% block body %}
    <section class="page_news">
        <div class="container">
            <div class="news_top">
                <div class="news_title-box">
                    <div class="news_title">
                        Новости компании
                    </div>
                    <div class="news_text">
                        Тут вы всегда найдете свежие новости
                    </div>
                </div>
            </div>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="create_new">
                <a href="{{ path('article_new') }}" class="default-btn">
                    Добавить
                </a>
            </div>
            {% endif %}     
            <div class="news_inner elastic" id="">
                <div class="news_slider" >
                    <div class="news_slider-inner">
                        <div class="news_slider-item">
                            <div class="news_slider-title">
                                Право.ru: законодательство, судебная система, новости и ...
                            </div>
                            <div class="news_slider-text">
                                Депутаты Госдумы на пленарном заседании 7 декабря приняли во втором чтении законопроект о регулировании дистанционного участия в судебном процессе. Поправки вносятся в Арбитражный процессуальный кодекс, Гражданский процессуальный кодекс, Кодекс административного судопроизводства и корреспондирующие нормативные акты.
                                Документ разрешает направлять исковые заявления, жалобы, представления и тому подобное в электронном виде с помощью портала «Госуслуги», системы электронного документооборота либо системы, которую определит Верховный суд или Суддеп. Такие документы достаточно будет подписать простой электронной подписью, если процессуальное законодательство не требует иного, за исключением системы электронного документооборота — в ней всегда потребуется усиленная квалифицированная подпись.
                            </div>
                            <div class="news_slider-author">
                                Анастасия Синченкова
                            </div>
                        </div>
                        <div class="news_slider-item">
                            <div class="news_slider-title">
                                Право.ru: законодательство, судебная система, новости и ...
                            </div>
                            <div class="news_slider-text">
                                Депутаты Госдумы на пленарном заседании 7 декабря приняли во втором чтении законопроект о регулировании дистанционного участия в судебном процессе. Поправки вносятся в Арбитражный процессуальный кодекс, Гражданский процессуальный кодекс, Кодекс административного судопроизводства и корреспондирующие нормативные акты.
                                Документ разрешает направлять исковые заявления, жалобы, представления и тому подобное в электронном виде с помощью портала «Госуслуги», системы электронного документооборота либо системы, которую определит Верховный суд или Суддеп. Такие документы достаточно будет подписать простой электронной подписью, если процессуальное законодательство не требует иного, за исключением системы электронного документооборота — в ней всегда потребуется усиленная квалифицированная подпись.
                            </div>
                            <div class="news_slider-author">
                                Анастасия Синченкова
                            </div>
                        </div>
                        <div class="news_slider-item">
                            <div class="news_slider-title">
                                Право.ru: законодательство, судебная система, новости и ...
                            </div>
                            <div class="news_slider-text">
                                Депутаты Госдумы на пленарном заседании 7 декабря приняли во втором чтении законопроект о регулировании дистанционного участия в судебном процессе. Поправки вносятся в Арбитражный процессуальный кодекс, Гражданский процессуальный кодекс, Кодекс административного судопроизводства и корреспондирующие нормативные акты.
                                Документ разрешает направлять исковые заявления, жалобы, представления и тому подобное в электронном виде с помощью портала «Госуслуги», системы электронного документооборота либо системы, которую определит Верховный суд или Суддеп. Такие документы достаточно будет подписать простой электронной подписью, если процессуальное законодательство не требует иного, за исключением системы электронного документооборота — в ней всегда потребуется усиленная квалифицированная подпись.
                            </div>
                            <div class="news_slider-author">
                                Анастасия Синченкова
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page_news-search">
                    <input type="text" id="elastic" name="filter-contacts" class="" placeholder="Поиск новостей">
                </div>
                {% for label, messages in app.flashes(['success', 'notice']) %}
                    {% for message in messages %}
                        {% if message %}
                            <div class="flash-{{ label }} notice_message">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                {% for article in articles %}
                    <div id="link" class="none" data-filter-tags="{{ article.title }}">
                        <a id="c_1" href="{{ path('article_show', {'id': article.id}) }}" class="page news_blog" >
                            <div class="news_images">
                                <img class="avatar_new_image" src="{{ asset('uploads/img/avatars/' ~ article.AvatarArticle) }}" alt="">
                            <div class="news_date">{{ article.created_at|date('m-d') }}</div>
                            </div>
                            <div class="news_blog-title">
                                {{ article.title }}
                            </div>
                            <div class="news_blog-text">
                                {{ article.preview }}
                            </div>        
                        </a> 
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a href="{{ path('article_edit', {'id': article.id}) }}" class="default-btn">
                            Редактировать
                        </a>
                        <a>{{ include('article/_delete_form.html.twig') }}</a>    
                    {% endif %}                   
                    </div>       
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
{% block footer %}
    {{ include('footer.html.twig') }}
{% endblock %}    
{% block javascripts %}
    {{ include('js.html.twig') }}
    <script>
        document.querySelector('#elastic').oninput = function(){
            let val = this.value.trim();
            let elemNews = document.querySelectorAll('.elastic .none');
            let elasticItems = document.querySelectorAll('.elastic a .news_blog-title');
            if(val != ''){
                elemNews.forEach(function(elem){
                    let value = elem.getAttribute('data-filter-tags');
                    if(value.search(val) == -1){
                        elem.classList.add('hide');      
                    }
                    else{
                        elem.classList.remove('hide');
                    }
                });
            }
            else{
                elemNews.forEach(function(elem){
                        elem.classList.remove('hide');      
                    });
            }
        }
    </script>
{% endblock %}

