{% extends 'base.html.twig' %}

{% block title %}PlumbInstall/Новстная статья/{{ article.title }}{% endblock %}

{% block body %}
<section class="page_new">
        <div class="container">
            <div class="news_top">
                <div class="page_new news_title-box">
                    <div class="page_new news_title">
                        Новости компании
                    </div>
                    <div class="news_text">
                        Всегда свежие новости
                    </div>
                </div>
            </div>
            <div class="page_new news_inner">
                <div href="#" class="page_new news_blog">
                    <div class="page_new news_images">
                        <img src="{{ asset('uploads/img/avatars/' ~ article.AvatarArticle) }}" alt="" class="avatar_new_image">
                        <div class="page_new news_date">{{ article.created_at|date('m-d') }}</div>
                    </div>
                    <div class="page_new news_blog-title">
                        {{ article.title }}
                    </div>
                    <div class="news_blog-text">
                        {{ article.paragraph1 }}
                    </div>
                    {% if article.Foto1 != null %}
                    <div class="page_new-image">
                        <img src="{{ asset('uploads/img/galery/' ~ article.Foto1) }}" alt="">   
                    </div>
                    <div class="page_new comment-image">{{ article.commentAuxiliaryOne }}</div>
                    {% endif %}
                    {% if article.paragraph2 != null %}
                    <div class="news_blog-text">
                        {{ article.paragraph2 }}
                    </div>
                    {% endif %}
                    {% if article.Foto2 != null %}
                    <div class="page_new news_image-article">
                        <img src="{{ asset('uploads/img/galery/' ~ article.Foto2) }}" alt="" class="page_new_foto">
                        <div class="page_new comment-image-article">{{ article.commentFoto }}</div>
                    </div>
                    {% endif %}
                    <div class="news_blog-text">
                       {{ article.article }}
                    </div>
                    {# {% if article.Foto1 != null %}
                    <div class="page_new news_image-article">
                        <img src="{{ asset('uploads/img/' ~ article.Foto1) }}" alt="" class="page_new_foto">
                        <div class="page_new comment-image-article">{{ article.commentFoto }}</div>
                    </div>
                    {% endif %} #}
                    {% if article.paragraph3 != null %}
                    <div class="news_blog-text">
                        {{ article.paragraph3 }}
                    </div>
                    {% endif %}
                    {% if article.paragraph4 != null %}
                    <div class="news_blog-text">
                        {{ article.paragraph4 }}
                    </div>
                    {% endif %}
                    <div class="news_blog-text-author">
                        {{ article.author }}
                    </div>
                </div>
                <div class="button_new">
                    <a class="page_new default-btn" href="{{ path('article_index') }}">
                    Вернуться назад
                    </a>    
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a href="{{ path('article_edit', {'id': article.id}) }}" class="default-btn">
                            Редактировать
                        </a>
                        <a>{{ include('article/_delete_form.html.twig') }}</a>    
                    {% endif %}
                </div>   
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer_content">
            <div class="container">
                <div class="footer_inner">
                    <div class="footer_info">
                        <div class="footer_title">
                            Юрист по гражданству в турции - Русскоговорящий турецкий...
                        </div>
                        <div class="footer_text">
                            Нужна надежная юридическая поддержка для ваших сделок с недвижимостью и гражданством. Наше бюро, состоящее из опытной команды, предоставляет решение...
                        </div>
                        <a data-fancybox data-src="#hidden-content" href="javascript:;" class="header_btn">
                            Бесплатная консультация
                        </a>
                        <ul class="footer_list">
                            <li><a class="footer_phone" href="tel:79957771830">+7 (995) 777 18 30</a></li>
                            <li><a  href="#">mvlju977@gmail.com</a></li>
                            <li><a class="footer_adress" href="#">224. Sk. 3 A Hurma, 224. Sk. 3 A, 07130 Bahtılı Köyü Köyü/Konyaaltı/Antalya</a></li>
                        </ul>
                    </div>
                    <div class="footer_map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12769.001896835982!2d30.602218242904456!3d36.86042302995611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c393c2dbf54b39%3A0x85d588ae3693fa3b!2zSHVybWEsIDIyNC4gU2suIDMgQSwgMDcxMzAgQmFodMSxbMSxIEvDtnnDvCBLw7Z5w7wvS29ueWFhbHTEsS9BbnRhbHlh!5e0!3m2!1sru!2str!4v1638958614135!5m2!1sru!2str"  height="320px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_copy">
            <div class="container">
                <div class="copy_text">
                    2017 Template by Anastasia Shaposhnyk. Все права защищены.
                </div>
            </div>
        </div>
    </footer>

{% endblock %}

{% block javascripts %}
    {{ include('js.html.twig') }}
{% endblock %}
