{% extends 'base.html.twig' %}

{% block title %}PlumbInstall/Новстная статья/{{ article.title }}{% endblock %}

{% block body %}
<section class="page_new">
        <div class="container">
            <div class="news_top">
                <div class="page_new news_title-box">
                    <div class="page_new news_title">
                        Новости компании
                    </div>
                    <div class="news_text">
                        Всегда свежие новости
                    </div>
                </div>
            </div>
            {% for label, messages in app.flashes(['success', 'notice']) %}
                    {% for message in messages %}
                        {% if message %}
                            <div class="flash-{{ label }} notice_message">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
            {% endfor %}
            <div class="page_new news_inner">
                <div href="#" class="page_new news_blog">
                    <div class="page_new news_images">
                        <img src="{{ asset('uploads/img/avatars/' ~ article.AvatarArticle) }}" alt="" class="avatar_new_image">
                        <div class="page_new news_date">{{ article.created_at|date('m-d') }}</div>
                    </div>
                    <div class="page_new news_blog-title">
                        {{ article.title }}
                    </div>
                    <div class="news_blog-text">
                        {{ article.paragraph1 }}
                    </div>
                    {% if article.Foto1 != null %}
                    <div class="page_new-image">
                        <img src="{{ asset('uploads/img/galery/' ~ article.Foto1) }}" alt="">   
                    </div>
                    <div class="page_new comment-image">{{ article.commentAuxiliaryOne }}</div>
                    {% endif %}
                    {% if article.paragraph2 != null %}
                    <div class="news_blog-text">
                        {{ article.paragraph2 }}
                    </div>
                    {% endif %}
                    {% if article.Foto2 != null %}
                    <div class="page_new news_image-article">
                        <img src="{{ asset('uploads/img/galery/' ~ article.Foto2) }}" alt="" class="page_new_foto">
                        <div class="page_new comment-image-article">{{ article.commentFoto }}</div>
                    </div>
                    {% endif %}
                    <div class="news_blog-text">
                       {{ article.article }}
                    </div>
                    {# {% if article.Foto1 != null %}
                    <div class="page_new news_image-article">
                        <img src="{{ asset('uploads/img/' ~ article.Foto1) }}" alt="" class="page_new_foto">
                        <div class="page_new comment-image-article">{{ article.commentFoto }}</div>
                    </div>
                    {% endif %} #}
                    {% if article.paragraph3 != null %}
                    <div class="news_blog-text">
                        {{ article.paragraph3 }}
                    </div>
                    {% endif %}
                    {% if article.paragraph4 != null %}
                    <div class="news_blog-text">
                        {{ article.paragraph4 }}
                    </div>
                    {% endif %}
                    <div class="news_blog-text-author">
                        {{ article.author }}
                    </div>
                </div>
                <div class="button_new">
                    <a class="page_new default-btn" href="{{ path('article_index') }}">
                    Вернуться назад
                    </a>    
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a href="{{ path('article_edit', {'id': article.id}) }}" class="default-btn">
                            Редактировать
                        </a>
                        <a>{{ include('article/_delete_form.html.twig') }}</a>    
                    {% endif %}
                </div>   
            </div>
        </div>
    </section>
{% endblock %}
{% block footer %}
    {{ include('footer.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ include('js.html.twig') }}
{% endblock %}
