{% extends 'base.html.twig' %}

{% block title %}О нас{% endblock %}

{% block body %}
<div class="page_about">
        <div class="container">
            <div class="about_top">
                <div class="about_title-box">
                    <div class="about_title">
                        О нас
                    </div>
                    <div class="about_text">
                        Мы не коммерческое партнерство, которое занимается организацией и проведением помощи животным
                    </div>
                </div>
            </div>
            {% for label, messages in app.flashes(['success', 'notice']) %}
                {% for message in messages %}
                    {% if message %}
                        <div class="flash-{{ label }} notice_message">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <div class="about_items">
                {% for our_mission in our_missions %}
                    <div class="about_item">                
                        <div class="about_title">
                            {{ our_mission.name }}
                        </div>
                        <div class="about_top">
                            <div class="img_about">
                                {% if our_mission.Img != null %}
                                <img src="{{ asset('uploads/img/' ~ our_mission.Img) }}" alt="">
                                {% else %}
                                <img src="{{ asset('asset/img/fon-foto-default-3.jpeg') }}" alt="">
                                {% endif %}
                            </div>
                            <div class="about_top_item-title">
                                <div class="about_item-title">
                                    {{ our_mission.title }}
                                </div>
                                <div class="about_item-text">
                                    {{ our_mission.text }}
                                </div>
                            </div>
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="about_item-btn">
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <a  href="{{ path('our_mission_new') }}" class="default-btn-about admin">
                                    Заполнить
                                </a>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') %}
                                <a  href="{{ path('our_mission_edit', {'id': our_mission.id}) }}" class="default-btn-about admin">
                                    Редактировать
                                </a>
                                {% endif %}    
                            </div>
                        {% endif %}                                    
                    </div> 
                {% endfor %}         
            </div>
            <div class="about_items">
                <div class="about_item">
                    <div class="about_title">
                        Наша работа, награды, достижения
                        {% if is_granted('ROLE_ADMIN') %}
                        <a  href="{{ path('achievements_new') }}" class="default-btn-about admin">
                            Добавить
                        </a>
                        {% endif %}
                    </div>
                    {% for achievement in achievements %}
                    <div class="about_item-string">
                        <div class="about_top">
                            <div class="img_about">
                                {% if achievement.Img != null %}
                                <img src="{{ asset('uploads/img/' ~ achievement.Img) }}" alt="">
                                {% else %}
                                <img src="{{ asset('asset/img/fon-foto-default-3.jpeg') }}" alt="">
                                {% endif %}
                            </div>
                            <div class="about_top_item-title">
                                <div class="about_item-title">
                                    {{ achievement.title }}
                                </div>
                                <div class="about_item-text">
                                    {{ achievement.text }}
                                </div>
                            </div>
                        </div>
                        <div class="about_item-text">
                            {{ achievement.paragraph }}
                        </div>
                        <div class="about_item-text">
                            {{ achievement.link }}
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="about_item-btn">
                                <a  href="{{ path('achievements_edit', {'id': achievement.id}) }}" class="default-btn-about admin">
                                    Редактировать
                                </a>  
                            </div>
                        {% endif %}
                    </div>
                    {% endfor %}       
                </div>    
            </div>
            <div class="about_items">
                <div class="about_item press">
                    <div class="about_title">
                        Пресса о нас
                    </div>
                    <div class="about_top">
                        <div class="img_about">
                            <img src="{{ asset('asset/img/icone-press-3.png') }}" alt="" >
                        </div>
                        <div class="about_top_item-title">
                            <div class="about_item-title">
                                Средства массовой информации о нашей дейтельности
                            </div>
                            <div class="about_item-text">
                                Информация которая рассказывает о нашей дейтельности
                            </div>
                        </div>   
                    </div>
                    <div class="about_slider">
                        <div class="about_slider-inner">
                            {% for press in presses %}
                            <div class="about_slider-item">
                                {% if press.Img != null %}
                                    <img src="{{ asset('uploads/img/' ~ press.Img) }}" alt="">
                                {% else %}
                                    <img src="{{ asset('asset/img/fon-foto-default-2.jpeg') }}" alt="">
                                {% endif %}
                                
                                <div class="about_slider-title">
                                    {{ press.title }}
                                </div>
                                <div class="about_slider-text">
                                    {{ press.text }}
                                </div> 
                                <div class="about_slider-title">
                                    Дата: {{ press.created_at|date('d-m-Y') }}
                                </div>
                                {% if is_granted('ROLE_ADMIN') %}
                                <div class="about_slider_btn">Управлять слайдером
                                    <a href="{{ path('press_edit', {'id': press.id}) }}" class="default-btn-about">
                                        Редактировать
                                    </a>
                                    <a  href="#">
                                        {{ include('press/_delete_form.html.twig') }} 
                                    </a>
                                </div> 
                                {% endif %}     
                            </div>
                            {% endfor %} 
                            <div class="about_slider-item">    
                                <a href="#" class="about_img"><img src="{{ asset('asset/img/fon-foto-default-2.jpeg') }}"></a>         
                                <div class="about_slider-title">
                                    Раненого лосенка нашли во дворе сельской школы под Хабаровском  4
                                </div>
                                <div class="about_slider-text">
                                    Во дворе сельской школы в районе Полины Осипенко Хабаровского края нашли раненого лосенка, который прятался от сторожевых собак. Он бегал под окнами образовательного учреждения, привлекая внимание людей. Поняв, что собаки ушли, лосенок скрылся в направлении леса.
                                    По словам местных жителей, которые приводит ИА AmurMedia, животное было ранено в области шеи. Они не исключили, что лосенок забрел на сельскую базу, где его покусали собаки.
                                    Об инциденте руководство школы рассказало главе местной администрации и участковому уполномоченному полиции. Дальнейшая судьба животного неизвестна.
                                </div>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <div class="about_slider_btn">Управлять слайдером
                                        <a  data-fancybox data-src="#hidden-content-slider-edit" href="javascript:;" class="default-btn-about">
                                            Редактировать
                                        </a>
                                        <a  href="#" class="default-btn-about">
                                            Удалить
                                        </a>
                                    </div> 
                                    {% endif %}        
                            </div>   
                            <div class="about_slider-item add">
                                {% if is_granted('ROLE_ADMIN') %}
                                <div class="about_slider-title add">
                                    <a  href="{{ path('press_new') }}" class="default-btn-about admin">  
                                    Добваить сладер
                                    </a>
                                </div>
                                {% endif %}      
                            </div>
                        </div>
                    </div>
                    <div class="about_item-btn">
                            {% if is_granted('ROLE_ADMIN') %} 
                            <a href="{{ path('press_index') }}" class="default-btn-about">
                                Управлять слайдером
                            </a>
                            {% endif %} 
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <a  href="#" class="default-btn-about admin">
                                Редактировать блок
                            </a>
                            {% endif %}   
                    </div>
                </div>    
            </div>
            <!--  блок отзывы -->
            <div class="about_items">
                <div class="about_item reviews">
                    <div class="about_title">
                        Отзывы о нас и оценки
                    </div>
                    <div class="about_top">
                        <div class="img_about">
                            <img src="{{ asset('asset/img/icone-reviews-2.png') }}" alt="" >
                        </div>
                        <div class="about_top_item-title">
                            <div class="about_item-title">
                                Тут вы можете увидеть отзывы о нашей работе и оценки
                            </div>
                            <div class="about_item-text">
                                Всегда рады вашим отзывам и оценкам, это помогает быть лучше. Мы внимательно следим за отзывами, оценками и стараемся улучшать нашу работу
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="about_item-text">
                            Наша оценка
                        </div>
                        <div class="rating-result">
                        {% for i in range(1, rating_value-0) %}
                            <span class="active"><span class="active_value">{{ i }}</span></span>
                        {% endfor %}
                        </div> 
                        <div class="about_item-text">
                            Оцените нашу деятельность 
                        </div>
                        <form action="{{ path('rating_new') }}" method="POST">  
                            <div class="rating-area">
                                <input type="radio" id="star-5" name="ratin" value="5">
                                <label for="star-5" title="Оценка «5»"></label>	
                                <input type="radio" id="star-4" name="ratin" value="4">
                                <label for="star-4" title="Оценка «4»"></label>    
                                <input type="radio" id="star-3" name="ratin" value="3">
                                <label for="star-3" title="Оценка «3»"></label>  
                                <input type="radio" id="star-2" name="ratin" value="2">
                                <label for="star-2" title="Оценка «2»"></label>    
                                <input type="radio" id="star-1" name="ratin" value="1">
                                <label for="star-1" title="Оценка «1»"></label>
                            </div> 
                        </form>  
                    </div>
                    <!-- оставить отзыв-->
                    <div id="">
                    <h2>Написать отзыв </h2>
                    {{ include('review/_form.html.twig') }}
                    </div>
                    <!--отзывы-->
                    <div class="page_reviews">
                        {% for review in reviews %}
                            {% if review.banned == null %}
                                {% if review.ip != ip %}
                                    <div class="rewiews_block">
                                        {% if review.answerId != null %}
                                        <a id="c_1" href="#" class="page news_blog none answer" data-filter-tags="black">
                                            <div class="page news_images">
                                                <img src="{{ asset('asset/img/icone-reviews-1.png') }}" alt="">
                                                {# <div class="news_date">{{ review.createdAt|date('m-d') }}</div>     #}
                                            </div>
                                            <div class="news_blog-title answer">
                                            Ответ на сообщение:
                                            </div>
                                            <div class="news_blog-title">
                                            {% for answer in review.answer %}
                                                {{ answer.name|default('undefined') }}
                                            {% endfor %} 
                                            </div>
                                            <div class="news_blog-text">
                                            {% for answer in review.answer %}
                                                {{ answer.text }}
                                            {% endfor %} 
                                            </div>   
                                        </a>
                                        {% endif %}
                                        <a id="c_1" href="#" class="page news_blog none" data-filter-tags="black">
                                            <div class="page news_images">
                                                <img src="{{ asset('asset/img/icone-reviews-1.png') }}" alt="">
                                                <div class="news_date">{{ review.createdAt|date('m-d') }}</div>    
                                            </div>
                                            <div class="news_blog-title">
                                                {{ review.name|default('undefined') }} 
                                            </div>
                                            <div class="news_blog-text">
                                                {{ review.text }}
                                            </div>   
                                        </a>
                                        {% for foto in review.fotoreview %}
                                        {# {% if fotoreview_foto != null %} #}
                                        <div class="img_about rewiews">
                                                <img src="{{ asset('uploads/img/' ~ foto.Foto) }}" alt="">
                                        </div>
                                        {# {% endif %} #}
                                        {% endfor %}
                                        <div class="about_item-btn">
                                                <a  href="#" onclick="showStuff('answer{{ review.id }}'); return false;" class="default-btn-about admin" >
                                                    Ответить
                                                </a>
                                                {% if is_granted('ROLE_ADMIN') %}
                                                <a  href="{{ path('edit_banned_toggle', {'id': review.id}) }}" class="default-btn-about admin">
                                                    Заблокировать
                                                </a>
                                                    {{ include('review/_delete_form.html.twig') }}
                                                {% endif %}   
                                        </div>
                                        <form action="{{ path('review_new') }}"  id="answer{{ review.id }}" class="hidden_form" method="post" enctype="multipart/form-data">    
                                            <div class="form_box-inner">
                                                <div class="form_box-left" required>
                                                    <input type="hidden"  name="answer_id" value="{{ review.id }}" >
                                                    <input type="hidden"  name="answer_name" value="{{ review.name }}" >
                                                    <input type="hidden"  name="answer_text" value="{{ review.text }}" >
                                                    <input type="text" name="name" placeholder="Ваше имя">
                                                    <textarea type="textarea" name="text" placeholder="Ваш отзыв"></textarea>
                                                    <button class="default-btn">
                                                        Отправить
                                                    </button>
                                                    <a href="#" class="default-btn-about admin" onclick="showClose('answer{{ review.id }}'); return false;">
                                                        Скрыть
                                                    </a>      
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                {% endif %}
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    {% if review.ip == ip %}
                                        <div class="rewiews_block rewiews_user">
                                            {% if review.answerId != null %}
                                            <a id="c_1" href="#" class="page news_blog none answer" data-filter-tags="black">
                                                <div class="page news_images">
                                                    <img src="{{ asset('asset/img/icone-reviews-1.png') }}" alt="">
                                                    {# <div class="news_date">03.04.2021</div>     #}
                                                </div>
                                                <div class="news_blog-title answer">
                                                    Ответ на сообщение
                                                </div>
                                                <div class="news_blog-title">
                                                {% for answer in review.answer %}
                                                    {{ answer.name|default('undefined') }}
                                                {% endfor %}  
                                                </div>
                                                <div class="news_blog-text">
                                                {% for answer in review.answer %}
                                                    {{ answer.text }}
                                                {% endfor %} 
                                                </div>   
                                            </a>
                                            {% endif %}
                                            <a id="c_1" href="#" class="page news_blog none" data-filter-tags="black">
                                                <div class="page news_images">
                                                    <img src="{{ asset('asset/img/icone-reviews-1.png') }}" alt="">
                                                    <div class="news_date">{{ review.createdAt|date('m-d') }}</div>    
                                                </div>
                                                <div class="news_blog-title">
                                                    {{ review.name|default('undefined') }}  
                                                </div>
                                                <div class="news_blog-text">
                                                    {{ review.text }} 
                                                </div>   
                                            </a>
                                            {% for foto in review.fotoreview %}
                                            {# {% if fotoreview_foto != null %} #}
                                            <div class="img_about rewiews">
                                                    <img src="{{ asset('uploads/img/' ~ foto.Foto) }}" alt="">
                                            </div>
                                            {# {% endif %} #}
                                            {% endfor %}
                                            <div class="about_item-btn">
                                                    <a  href="#" onclick="showStuff('answer{{ review.id }}'); return false;" class="default-btn-about admin" >
                                                        Ответить
                                                    </a>
                                                    {% if is_granted('ROLE_ADMIN') %}
                                                    <a  href="{{ path('edit_banned_toggle', {'id': review.id}) }}" class="default-btn-about admin">
                                                        Заблокировать
                                                    </a>
                                                        {{ include('review/_delete_form.html.twig') }}
                                                    {% endif %}   
                                            </div>
                                            <form action="{{ path('review_new') }}"  id="answer{{ review.id }}" class="hidden_form" method="post" enctype="multipart/form-data">    
                                                <div class="form_box-inner">
                                                    <div class="form_box-left" required>
                                                        <input type="hidden"  name="answer_id" value="{{ review.id }}" >
                                                        <input type="hidden"  name="answer_name" value="{{ review.name }}" >
                                                        <input type="hidden"  name="answer_text" value="{{ review.text }}" >
                                                        <input type="text" name="name" placeholder="Ваше имя">
                                                        <textarea type="textarea" name="text" placeholder="Ваш отзыв"></textarea>
                                                        <button class="default-btn">
                                                            Отправить
                                                        </button>
                                                        <a  href="#" class="default-btn-about admin" onclick="showClose('answer{{ review.id }}'); return false;">
                                                            Скрыть
                                                        </a>      
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    {% endif %} 
                                {% endif %}
                            {% endif %}
                            {% if review.banned == 1 %}
                            <div class="rewiews_block">           
                                <a id="c_1" href="#" class="page news_blog none" data-filter-tags="black">
                                    <div class="page news_images">
                                        <img src="{{ asset('asset/img/icone-reviews-1.png') }}" alt="">
                                        <div class="news_date">{{ review.createdAt|date('m-d') }}</div>    
                                    </div>
                                    <div class="news_blog-title">
                                        {{ review.name|default('undefined') }} 
                                    </div>
                                    <div class="news_blog-text">
                                        Отзыв заблокирован из-за нарушения правил пользования сайтом
                                    </div>   
                                </a>       
                                <div class="img_about rewiews">
                                        <img src="{{ asset('asset/img/icone-reviews-2.png') }}" alt="">
                                </div>       
                                <div class="about_item-btn">
                                        {% if is_granted('ROLE_ADMIN') %}
                                        <a  href="{{ path('edit_banned_toggle', {'id': review.id}) }}" class="default-btn-about admin">
                                            Разблокировать
                                        </a>
                                            {{ include('review/_delete_form.html.twig') }}
                                        {% endif %}   
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}          
            </div>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="about_item-btn">
                <a  href="#" class="default-btn-about admin">
                    Редактировать
                </a>
            </div> 
            {% endif %}   
        </div>    
        </div>    
    </section>
{% endblock %}
{% block footer %}
    {{ include('footer.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ include('js.html.twig') }}
    <script>    
    function showStuff(id) {
    document.getElementById(id).style.display = 'block';
    return false; 
    }
    function showClose(id) {
        document.getElementById(id).style.display = 'none';
        return false;
    }
    $('input[type=radio]').on('change', function() {
    $(this).closest("form").submit();
    return false;
});
  </script>
{% endblock %}
